body {
  margin: auto;
  text-align: center;
}
.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}
.avatar-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: large;
  background-color: var(--primary-color);
}
.broken {
  border: 1px solid #b3b3b3;
}
.sm {
  height: 32px;
  width: 32px;
}
.md {
  height: 40px;
  width: 40px;
}
.lg {
  height: 54px;
  width: 54px;
}
