<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Kakarot UI</title>
  </head>
  <body>
    <div class="container flex-col">
      <div class="alert error">
        <span class="material-icons">warning</span>
        <p>Username invalid!</p>
        <div class="actions">
          <button>Retry</button>
          <span class="material-icons" id="close">close</span>
        </div>
      </div>

      <div class="alert warning">
        <span class="material-icons">warning</span>
        <p>Username invalid!</p>
        <div class="actions">
          <button>Retry</button>
          <span class="material-icons" id="close">close</span>
        </div>
      </div>

      <div class="alert info">
        <span class="material-icons">warning</span>
        <p>Username invalid!</p>
        <div class="actions">
          <button>Retry</button>
          <span class="material-icons" id="close">close</span>
        </div>
      </div>

      <div class="alert success">
        <span class="material-icons">warning</span>
        <p>Username invalid!</p>
        <div class="actions">
          <button>Retry</button>
          <span class="material-icons" id="close">close</span>
        </div>
      </div>

    </div>
  </body>
</html>
